<section id="about" class="py-10 lg:px-36">
  <h2 class="mb-10 text-3xl font-bold">🙋‍♂️ About Me</h2>
  <p class="text-2xl">
    Hi, I'm Jhon. I'm a passionate software developer who loves to code. I have been coding since 15
    years old, and I'm always looking for new challenges to improve my skills. I'm excited to
    continue learning and growing as a developer.
    
    I am a Full-stack web developer with experience in Svelte
    and SvelteKit, and familiarity with React and Next.js. Proficient in relational and
    non-relational databases. Passionate about web development and the internet. I am a highly
    motivated and results-oriented developer in delivering high-quality web applications. I am
    passionate about learning new technologies and solving complex problems. I am also a team player
    and am always willing to help others.
  </p>
</section>
