---
import Github from '@components/icons/Github.astro'
import HeroCodeEditor from './HeroCodeEditor.astro'
---

<section
  id="hero"
  class="flex min-h-lvh flex-col items-center pt-28 md:pt-36"
>
  <div class="name">
    <h1 class="w-min md:w-full text-center">
      <span class="text-4xl md:text-5xl font-bold">Hi! I'm,</span>
      <br />
      <span class="font-anton text-[7rem] md:text-[8rem] uppercase leading-none text-blue-300">JOHN BRIONES</span>
    </h1>
    <p
      class="sign ml-auto w-fit -translate-y-4 rotate-6 rounded-lg border-2 bg-transparent px-5 py-3 text-lg font-bold"
    >
      Full Stack Developer
    </p>
  </div>
  <p class="mt-10 text-center text-4xl font-bold">I 游눘 creating web pages/apps</p>
  <p class="mt-2 text-center text-2xl font-light">and coding since 15 years old</p>
  <div class="mt-10 flex gap-5">
    <!-- REDES SOCIALES -->
    <a
      href="https://github.com/joanbric"
      target="_blank"
      class="mr-4 text-nowrap rounded-md border-[1px] bg-purple-800 stroke-white px-2 py-2 hover:bg-purple-900"
    >
      Review my code at <b>Github</b></a
    >
  </div>
  <div class="relative my-auto">
    <div
      id="blue-circle"
      class="absolute left-[40%] top-[70%] aspect-square w-[15rem] -translate-x-1/2 -translate-y-1/2 rounded-full border-2 border-blue-400 bg-blue-400"
    >
    </div>
    <div
      id="pink-circle"
      class="absolute left-[70%] top-0 aspect-square w-[10rem] -translate-x-1/2 -translate-y-1/2 rounded-full bg-gradient-to-br from-pink-600 to-fuchsia-400
      before:absolute before:left-1/2 before:top-1/2 before:aspect-square before:w-[10rem] before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-full before:bg-gradient-to-br before:from-pink-600 before:to-fuchsia-400 before:blur-2xl"
    >
    </div>
    <HeroCodeEditor />
  </div>
</section>

<style>
  #blue-circle {
    background: radial-gradient(circle at center center, #60a5fa 0%, #60a5fa00 80%);
    box-shadow: 0 0 36px -8px #60a5fa;
  }

  section {
    background: radial-gradient(ellipse 80% 60% at center 20%, #652775 0%, #20092600 60%);
  }
  .sign {
    border-color: white;
    box-shadow:
      inset 0 0 16.5px 1px #f0db4f,
      0 0 16.5px 2px #f0db4f,
      0 0 16.5px 3px #f0db4f;
    text-shadow:
      0 0 15px #3dfff6,
      0 0 30px #3dfff6;
    animation: flicker 8s infinite;
  }

  @keyframes flicker {
    0%,
    100% {
      /* Estado normal */
      border-color: white;
      color: white;
      text-shadow:
        0 0 15px #3dfff6,
        0 0 30px #3dfff6;
      box-shadow:
        inset 0 0 16.5px 1px #f0db4f,
        0 0 16.5px 2px #f0db4f,
        0 0 16.5px 3px #f0db4f;
    }
    22% {
      text-shadow:
        0 0 15px #3dfff6,
        0 0 30px #3dfff6;
      box-shadow:
        inset 0 0 16.5px 1px #f0db4f,
        0 0 16.5px 2px #f0db4f,
        0 0 16.5px 3px #f0db4f;
      border-color: white;
      color: white;
    }
    24% {
      /* Pierde un poco de brillo */
      text-shadow: none;
      box-shadow: none;
      color: #c7c7c7;
      border-color: #c7c7c7;
    }
    25% {
      /* Estado m치s tenue */
      text-shadow:
        0 0 15px #3dfff6,
        0 0 30px #3dfff6;
      box-shadow:
        inset 0 0 16.5px 1px #f0db4f,
        0 0 16.5px 2px #f0db4f,
        0 0 16.5px 3px #f0db4f;
      border-color: white;
      color: white;
    }
    33% {
      /* Estado m치s tenue */
      text-shadow:
        0 0 15px #3dfff6,
        0 0 30px #3dfff6;
      box-shadow:
        inset 0 0 16.5px 1px #f0db4f,
        0 0 16.5px 2px #f0db4f,
        0 0 16.5px 3px #f0db4f;
      border-color: white;
      color: white;
    }
    35% {
      /* Pierde un poco de brillo */
      text-shadow: none;
      box-shadow: none;
      border-color: #c7c7c7;
      color: #c7c7c7;
    }
    38% {
      /* Estado m치s tenue */
      text-shadow:
        0 0 15px #3dfff6,
        0 0 30px #3dfff6;
      box-shadow:
        inset 0 0 16.5px 1px #f0db4f,
        0 0 16.5px 2px #f0db4f,
        0 0 16.5px 3px #f0db4f;
      color: white;
      border-color: white;
    }
    39% {
      /* Pierde un poco de brillo */
      text-shadow: none;
      box-shadow: none;
      border-color: #c7c7c7;
      color: #c7c7c7;
    }
    49% {
      /* Pierde un poco de brillo */
      text-shadow: none;
      box-shadow: none;
      border-color: #c7c7c7;
      color: #c7c7c7;
    }
    50% {
      /* Estado m치s tenue */
      text-shadow:
        0 0 15px #3dfff6,
        0 0 30px #3dfff6;
      box-shadow:
        inset 0 0 16.5px 1px #f0db4f,
        0 0 16.5px 2px #f0db4f,
        0 0 16.5px 3px #f0db4f;
      color: white;
      border-color: white;
    }
  }
</style>
