---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." description="Description">
	<main>
        <h1>Hi!, I'm <span class="">Jhon</span> 👋</h1>
	</main>
</Layout>

<style>
	
</style>
