<header class="sticky top-5 z-50">
    <nav >
        <ul class="flex justify-center gap-10 rounded-full font-bold items-center mx-auto max-w-fit py-2 px-5 backdrop-blur-md bg-slate-500/50">
            <li><a href="#hero">Hero</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#about">About Me</a></li>
            <li class="hidden"><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>

